{% extends 'auction_website/base.html' %}

{% block content %}
        {% if user.username != '' %}

        <p style="text-align:right; margin-right: 50px;">Пользователь: {{ user.username }}<p/>
        {% else %}
            <p></p>
        {% endif %}
            {% if user.is_authenticated %}
            <div class="info_cab_exit">
                <a href="{% url 'cabinet' %}" style="text-align:right; text-decoration:none;"><p>Кабинет</p></a>
                <a href="{% url 'create_lots' %}" style="text-align:right; text-decoration:none;"><p>Создание лотов</p></a>
                <a href="{% url 'acceptlots' %}" style="text-align:right; text-decoration:none;"><p>Подтверждение лотов</p></a>
                <a href="{% url 'logout' %}" style="text-align:right; text-decoration:none;"><p>Выйти</p></a>
            </div>
        {% else %}
        <div class="reg-log">
            <a href="{% url 'login' %}" style="text-align:right; text-decoration:none; margin-left: 40px;"><p>Авторизоваться</p></a>
            <a href="{% url 'register' %}" style="text-align:right; text-decoration:none; margin-left: 20px;"><p>Регистрация</p></a>
        </div>
        {% endif %}
{% endblock %}